serviceAccount:
  create: true
  name: external-dns
  annotations:
    eks.amazonaws.com/role-arn: "${external_dns_irsa_arn}"

provider: aws

domainFilters:
  - "${domain_name}"

policy: sync

txtOwnerId: "external-dns"
txtPrefix: "external-dns"

resources:
    limits:
      cpu: 100m
      memory: 128Mi
    requests:
      cpu: 50m
      memory: 64Mi

sources:
  - ingress
  - service